// VARIABLES
:root {
  // primary
  --bright-red: rgb(242, 95, 58);
  --dark-blue: hsl(228, 39%, 23%);
  // neutral
  --dark-grayish-blue: hsl(227, 12%, 61%);
  --very-dark-blue: hsl(233, 12%, 13%);
  --very-pale-red: hsl(13, 100%, 96%);
  --very-light-gray: hsl(0, 0%, 98%);
}
